* {
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
}


.button-link {

   
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: large;
    text-decoration: none;
    gap: 20px;
    
}


.banner {

    padding-top: 10px;
}

.buttons {

    display: flexbox;

    
}